@charset "utf-8";
html, body {
        height: 100%;
        margin: 0 0 1px;
        padding: 0;
}
#topPadding {
	padding-top: 50px;
}
#stripe300 {
	background-image: url(../images/bg_250.jpg);
	background-repeat: repeat-x;
	height: 300px;
}
#stripe350 {
	background-image: url(../images/bg_300.jpg);
	background-repeat: repeat-x;
	height: 350px;
}
#stripe400 {
	background-image: url(../images/bg_350.jpg);
	background-repeat: repeat-x;
	height: 400px;
}
#stripe450 {
	background-image: url(../images/bg_400.jpg);
	background-repeat: repeat-x;
	height: 450px;
}
#stripe500 {
	background-image: url(../images/bg_450.jpg);
	background-repeat: repeat-x;
	height: 500px;
}
#stripe550 {
	background-image: url(../images/bg_500.jpg);
	background-repeat: repeat-x;
	height: 550px;
}
#stripe600 {
	background-image: url(../images/bg_550.jpg);
	background-repeat: repeat-x;
	height: 600px;
}
#stripe650 {
	background-image: url(../images/bg_600.jpg);
	background-repeat: repeat-x;
	height: 650px;
}
#content300 {
	width: 757px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/x_logo.png);
	background-repeat: no-repeat;
	background-position: 633px 168px;
}
#content350 {
	width: 757px;
    height: 350px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/x_logo.png);
	background-repeat: no-repeat;
	background-position: 633px 219px;
}
#content400 {
	width: 757px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/x_logo.png);
	background-repeat: no-repeat;
	background-position: 633px 269px;
}
#content450 {
	width: 757px;
	height: 450px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/x_logo.png);
	background-repeat: no-repeat;
	background-position: 633px 318px;
}
#content500 {
	width: 757px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/x_logo.png);
	background-repeat: no-repeat;
	background-position: 633px 369px;
}
#content550 {
	width: 757px;
	height: 550px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/x_logo.png);
	background-repeat: no-repeat;
	background-position: 633px 419px;
}
#content600 {
	width: 757px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/x_logo.png);
	background-repeat: no-repeat;
	background-position: 633px 469px;
}
#content650 {
	width: 757px;
	height: 650px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/x_logo.png);
	background-repeat: no-repeat;
	background-position: 633px 519px;
}
#copy300 {
	height: 141px;
}
#copy350 {
	height: 191px;
}
#copy400 {
	height: 241px;
}
#copy450 {
	height: 291px;
}
#copy500 {
	height: 341px;
}
#copy550 {
	height: 391px;
}
#copy600 {
	height: 441px;
}
#copy650 {
	height: 491px;
}
#gallery300 {
 	height: 90px;
}
#gallery350 {
 	height: 140px;
}
#gallery400 {
 	height: 190px;
}
#gallery450 {
 	height: 240px;
}
#gallery500 {
 	height: 290px;
}
#gallery550 {
 	height: 340px;
}
#gallery600 {
 	height: 390px;
}
#gallery650 {
 	height: 440px;
}
#xbottomNav {
	text-align: right;
	padding-top: 20px;
	clear: both;
	width: 630px;
}
#logo {
	padding-top: 35px;
	padding-bottom: 15px;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#message {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	width: 625px;
}
#table {
	padding: 15px;
}

* {
	margin: 0px;
}
#gallery img {
	padding: 2px;
}
#gallery img:hover {
	height: 104px;
	width: 104px;
	padding: 0px;
}
#subhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #00A3FF;
	line-height: 36px;
	padding-top: 5px;
	padding-bottom: 15px;
}
#portsubnav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #00A3FF;
	width: 625px;
	text-align: right;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.smalltxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
}
.address {
	line-height: 18px;
	padding-top: 10px;
}
.imgright {
	float: right;
}
.comps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #676767;
}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 11px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}
#form {
	width: 450px;
}
#message a:link {
	color: #000000;
	text-decoration: none;
}
#message a:visited {
	color: #000000;
	text-decoration: none;
}
#message a:hover {
	color: #0000FF;
	text-decoration: underline;
}
#message a:active {
	color: #0000FF;
	text-decoration: none;
}
#footer {
	padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
	text-align: right;
	text-transform: uppercase;
}
#footer a:link {
	color: #CCCCCC;
	text-decoration: none;
}
#footer a:visited {
	color: #CCCCCC;
	text-decoration: none;
}
#footer a:hover {
	color: #676767;
	text-decoration: none;
}
#footer a:active {
	color: #676767;
	text-decoration: none;
}