a {	
	color: #006600;	
	text-decoration: none
}
body {
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif, "Comic Sans MS", Papyrus;
	color: #009900;


	}
h2 {
	color: #009900
	}
h3 {	
	font-family: Arial, Helvetica, sans-serif, Comic Sans MS, Papyrus;	
	font-size: 1.15em;	
	background-color: #000000;  	
	color: #006600
	}
h4 {
	color: #006600
	}
table {
	color: #000000
	}
td, th {
	font-family: Arial, Helvetica, sans-serif, Comic Sans MS, Papyrus;
	color: #009900;

	}
textarea {
	font-family: Arial, Helvetica, sans-serif, Comic Sans MS, Papyrus;	
	}
ul {	
	font-family: Arial, Helvetica, sans-serif, Comic Sans MS, Papyrus;	
	font-size: 1em;	
	list-style-type: square;	
	list-style-position: outside
	}
.BulletBackgroundColor {
	color: #009900
	}
.DataColor {
	color: #006600
	}
.footer { 
	font-family: Arial, Helvetica, sans-serif, Comic Sans MS, Papyrus;
	font-size: 1.167em;
	font-weight: bold;
	line-height: 1.83em;
	color: #ffffff;
	background-color: #000000
	}
.FormBackgroundColor {
	color: #CCCCCC
	}
.ImageTitleColor {
	color: #CCCCCC
	}
.LabelColor {
	color: #CCCCCC
	}
.ListColorEven {
	color: #CCCCCC
	}
.ListFooterColor {
	color: #333333
	}
.ListHeaderColor {
	color: #333333
	}
.ListColorOdd {
	color: #DEDECA
	}
.ListTitleColor {
	color: #CCCCCC
	}
.NavigationBackgroundColor {
	color: #666666
	}
.NavigationColor {
	color: #CCCCCC
	}
.NewsDataColor {
	color: #DEDECA
	}
.StoryTitle {
	color: #000000;
	font-weight: bold
	}
.StoryContentColor {
	color: #000000
	}
.TitleColor {
	color: #000000
	}
a:hover {	
	text-decoration: none
	}
tr.ListHeaderColor th {
	}.small {
	font-size: 85%;
}
td.justify {
	text-align: justify;
}
